.footer{
    margin-top: 20px;
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    ul{
        list-style-type: none;
        a{
            text-decoration: none;
        }
        li:hover{
            text-decoration: underline;
            cursor: pointer;
            width: fit-content;
        }
    }
    a {
        color: white;
        text-decoration: underline;
        &:hover{
            color: #ff4500;
        }
    }
}
.section{
    margin: 10px;
}
.heading{
    font-weight: 600;
    font-size: 20px;
    margin: 4px 0px;
}
.text{
    margin: 10px 0px;
}
.icon{
    font-size: 25px;
    margin: 5px;
    &:hover{
        color: #ff4500;
    }
}

// For large devices
@media screen and (min-width: 700px) {
    .footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }    
}