@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
$primary-color: #ff4500;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}


// Navbar styles

// Base styles
.nav{
    box-shadow: 0px 2px 5px grey;
    padding: 4px;
    height: fit-content;
}
.logo{
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: $primary-color;
    margin-left: 10px;
    a{
      color: $primary-color;
      text-decoration: none;
    }
}

.menu a{
    text-decoration: none;
    color: $primary-color;
}

.responsive {
        position: absolute;
        top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: whitesmoke;
        padding: 15px;
    a {
        padding-bottom: 10px;
        color: $primary-color;
    }
}

.button{
    padding: 10px;
    background-color: $primary-color;
    box-shadow: 2px 2px 5px grey;
    border: none;
    color: white;
    font-size: 18px;
}

.icon {
    font-size: 30px;
    margin: 10px;
}

// For small devices
@media screen and (max-width:700px) {
    .nav{
        position: relative;
    }
    .logo{
        font-size: 25px;
    }
    .menu{
        display: none;
    }
    .icon{
        float: right;
    }
}

// For larger devices
@media screen and (min-width: 700px) {
  .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .icon{
    display: none;
  }
  .menu{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
