.container{
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px grey;
    width: 300px;
    h1{
        font-weight: 600;
        font-size: 20px;
        margin: 10px 2px;
    }
    p{
        font-size: 18px;
        margin: 5px 2px;
    }
}
