.card{
    width: 200px;
    height: 280px;
    margin: 5px;
    box-shadow: 2px 2px 5px grey;
    overflow: hidden;
}
.image{
    width: 200px;
    height: auto;
}
.foodName{
    margin: 8px 4px;
}
.foodArea{
    margin: 0px 4px;
}