.search{
    margin: 20px;
}
@media screen and (min-width: 500px) {
    .search{
        display: grid;
        justify-content: center;
    }
}
.error{
    text-align: center;
    font-weight: 400;
    margin: 25px;
}
.recipeCard{
    width: 200px;
    height: fit-content;
    box-shadow: 3px 3px 6px grey;
    margin: 15px;
    h1, p{
        padding: 5px;
    }
}