.search{
    margin: 20px;
}
@media screen and (min-width: 500px) {
    .search{
        display: grid;
        justify-content: center;
    }
}
.error{
    text-align: center;
    font-weight: 400;
    margin: 25px;
}
.searchResult{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
}