$primary-color: #ff4500;

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
.input{
    border: none;
    outline: none;
    box-shadow: 2px 2px 5px grey;
    height: 50px;
    font-size: 18px;
    width: 800px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: $primary-color;
    color: white;
    width: 120px;
    font-size: 22px;
    box-shadow: 2px 2px 5px grey;
    cursor: pointer;
}
