$primary-color: #ff4500;

.form{
    display: flex;
    flex-direction: column;
}
.input{
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    outline: none;
    width: 350px;
    font-size: 18px;
}
.button{
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: $primary-color;
}
@media screen and (min-width: 600px) {
    .form{
        display: flex;
        flex-direction: row;
    }
    .input{
    min-width: 500px;
    }
}